@charset "ISO-8859-1";

body {
	background-image: url('/img/wood.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	font-family: 'Arial', sans-serif;
	padding: 0 0 20px 0;
	font-weight: 500;
	animation: fadeIn 1s ease-out;
}

.table tr {
    animation: moveUp 0.5s ease-out forwards;
    animation-delay: calc(0.2s * var(--row-index));
    --row-index: 0;
}

@keyframes moveUp {
    from {
        transform: translateY(20px);
    }
    to {
        transform: translateY(0);
    }
}
.table {
	width: 100%;
	border-collapse: collapse;
}

.dataTables_filter input {
	border: 2px solid #000000;
}


div.dataTables_wrapper div.dataTables_info,
div.dataTables_wrapper div.dataTables_length label,
div.dataTables_wrapper div.dataTables_filter label {
	font-weight: 500;
	background-color: rgb(255, 255, 255);
	border-radius: 5px;
	display: inline-block;
	padding: 10px;
	color: black;
}

.container {
	padding: 20px 75px;
	border-radius: 10px;
	background-color: rgb(255, 255, 255);
	border: 1px solid lightslategray;
}
h4 {

	color: rgb(255, 255, 255);
	text-shadow: 1px 2px 2px black;
	font-style: oblique;

	}


.table th,
.table td {
	border: 1px solid #000000;
	padding: 8px;
	text-align: left;
	background-color: #FFFFFF;
}

.table th {
	background-color: #0056b3;
	font-weight: bold;
	color: #FFFFFF;
}

.btn-container {
	display: flex;
	align-items: center;
}

.btn-container button {
	flex: 1;
}

tbody tr {
	background-color: #FFFFFF;
}



@media only screen and (max-width: 1200px) {

	.table th,
	.table td {
		font-size: 14px;
	}
}

@media only screen and (max-width: 992px) {

	.table th,
	.table td {
		font-size: 12px;
	}
}

@media only screen and (max-width: 768px) {

	.table th,
	.table td {
		font-size: 10px;
	}
}

@media only screen and (max-width: 576px) {

	.table th,
	.table td {
		font-size: 8px;
	}
}

@media only screen and (max-width: 480px) {

	.btn-primary,
	.btn-danger {
		padding: 3px 6px;
	}

	.btn-primary i,
	.btn-danger i {
		margin-right: 3px;
	}
}

@media only screen and (max-width: 360px) {

	.btn-primary,
	.btn-danger {
		padding: 2px 4px;
	}

	.btn-primary i,
	.btn-danger i {
		margin-right: 2px;
	}
}

@media only screen and (max-width: 280px) {

	.btn-primary,
	.btn-danger {
		padding: 1px 2px;
	}

	.btn-primary i,
	.btn-danger i {
		margin-right: 1px;
	}
}

@media only screen and (max-width: 600px) {
	.table {
		display: block;
		overflow-x: auto;
	}

	.table th,
	.table td {
		white-space: nowrap;
	}

	.btn-container {
		flex-direction: column;
	}
}
